@require "base.styl"

/* =========== Раздел переменных =========== */

main-bg = url("/app/img/about_bg.jpg")
about-header-font-size = 2em
about-content-font-size = 0.9em
caption-font-color = #123
name-font-color = #132

/* =========== Раздел css-правил =========== */

.main
    display: flex
    justify-content: center
    align-items: center
    background-image: main-bg
    background-repeat: no-repeat
    background-size: cover


    .main-about
        background-color: rgba(200, 200, 200, 10%)
        border-radius: 5px
        max-width: 500px
        padding: 10px


        .main-about-header
            margin-bottom: 20px
            padding-top: 10px
            padding-bottom: 10px
            border-bottom: 3px dashed base-font-color
            font-size: about-header-font-size
            text-align: center


        .main-about-content
            padding: 10px
            font-size: about-content-font-size
            line-height: 1.2

            .main-about-content-caption
                color: caption-font-color


            .main-about-content-name
                color: name-font-color
                text-decoration: underline


        .main-about-menu
            mx_button()
            width: 200px
            margin: auto
            margin-top: 10px
