/* =========== Раздел переменных =========== */

main-bg-color = #ccc
base-font-color = #000
base-font-size = 20px
base-border-radius = 5px

mx_button-font-color = base-font-color
mx_button-font-color-hover = white

/* =========== Раздел миксинов =========== */

mx_button()
    display: block
    width: 200px
    border: 3px solid mx_button-font-color
    border-radius: base-border-radius
    margin-bottom: 15px
    text-align: center
    cursor: pointer
    transition: background-color 0.3s linear
    &:hover
        background-color: mx_button-font-color
    &:last-child
        margin-bottom: 0
    a
        display: block
        padding: 5px
        color: mx_button-font-color
        transition: color 0.3s linear
        &:hover
            color: mx_button-font-color-hover

/* =========== Раздел css медиа-запросов =========== */

@font-face
    font-family: 'capture_itregular'
    src: url('/app/font/Capture_it-webfont.eot'),
         url('/app/font/Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/app/font/Capture_it-webfont.woff') format('woff'),
         url('/app/font/Capture_it-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal


/* =========== Раздел css-правил =========== */

*
    margin:  0
    padding: 0
    border:  0
    outline: 0
    text-decoration: none
    list-style-type: none
    color: base-font-color
    font-family: 'capture_itregular'


html
body
.main
    height: 100%


.main
    background-color: main-bg-color
    font-size: base-font-size
