@require "base.styl"

/* =========== Раздел переменных =========== */

main-bg = url("/app/img/menu_bg.jpg")

/* =========== Раздел css-правил =========== */

.main
    display: flex
    justify-content: center
    align-items: center
    background-image: main-bg
    background-repeat: no-repeat
    background-size: cover


    .main-menu-list
        overflow: hidden
        background-color: rgba(200, 200, 200, 10%)
        border-radius: 5px
        padding: 10px


    .main-menu-list-item
        mx_button()


    .main-copy
        position: absolute
        bottom: 5px
        right: 5px
