@require "base.styl"

/* =========== Раздел переменных =========== */

main-bg = url("/app/img/options_bg.jpg")
option-caption-font-size = 0.9em
line_time-color = #ddd
current_line_time-color = base-font-color

/* =========== Раздел css-правил =========== */

.main
    display: flex
    justify-content: center
    align-items: center
    background-image: main-bg
    background-repeat: no-repeat
    background-size: cover


    .main-options
        background-color: rgba(200, 200, 200, 15%)
        border-radius: 5px
        max-width: 500px
        padding: 10px


        .main-options-item
            margin-bottom: 20px


            .main-options-item-caption
                margin-bottom: 5px
                font-size: 0.9em
                text-align: center


            .main-options-item-line_time
                background-color: line_time-color
                height: 10px
                cursor: pointer


                .main-options-item-current_line_time
                    background-color: current_line_time-color
                    height: 10px
                    width: 30%

        .main-options-menu
            mx_button()
            margin: auto
            margin-top: 10px
