@font-face {
  font-family: 'capture_itregular';
  src: url("/app/font/Capture_it-webfont.eot"), url("/app/font/Capture_it-webfont.eot?#iefix") format('embedded-opentype'), url("/app/font/Capture_it-webfont.woff") format('woff'), url("/app/font/Capture_it-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-family: 'capture_itregular';
}
html,
body,
.main {
  height: 100%;
}
.main {
  background-color: #ccc;
  font-size: 20px;
}
/* =========== Раздел переменных =========== */
/* =========== Раздел css-правил =========== */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/app/img/about_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main .main-options {
  background-color: rgba(200,200,200,0.1);
  border-radius: 5px;
  max-width: 500px;
  padding: 10px;
}
.main .main-options .main-about-header {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px dashed #000;
  font-size: about-header-font-size;
  text-align: center;
}
.main .main-options .main-about-content {
  padding: 10px;
  line-height: 1.2;
}
.main .main-options .main-about-content .main-about-content-caption {
  color: #123;
}
.main .main-options .main-about-content .main-about-content-name {
  color: #132;
  text-decoration: underline;
}
.main .main-options .main-about-menu {
  display: block;
  border: 3px solid #000;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s linear;
  width: 200px;
  margin: auto;
  margin-top: 10px;
}
.main .main-options .main-about-menu:hover {
  background-color: #000;
}
.main .main-options .main-about-menu:last-child {
  margin-bottom: 0;
}
.main .main-options .main-about-menu a {
  display: block;
  padding: 5px;
  color: #000;
  transition: color 0.3s linear;
}
.main .main-options .main-about-menu a:hover {
  color: #fff;
}
